extends layout

block content
  h1= title
  p Welcome to #{title}
  -console.log(event)
  each vehicle in vehicles
      div.container
        form(action="/bookingform" method="post")
          .form-group
            label(for='name') Name
            input.form-control(type='text' name="name" value=event.name)
          .form-group
            label(for='date') Date Selected
            input.form-control(type='text' name="date" value=event.day)
          .form-group
            label(for='inithour') Initial Hour Selected
            input.form-control(type='text' name="start_time" value=event.time)
          .form-group
            label(for='finalhour') Final Hour Selected
            input.form-control(type='text' name="end_time" value=event.time)
          .form-group
            label(for='model') Select a car
            select.custom-select( name="vehicle_id")
              option(value='1') #{vehicle.model}
              //- option(value='otro')

          .form-group
            label(for='destination') 
            input#autocomplete.form-control(placeholder='Enter your destination', type='text', onclick='initAutocomplete()')
            input#input6(type='hidden', name='destination')
          a.btn.btn-secondary#btnMap(href="", target="_blank") See Map
          br 
          br
          input.btn.btn-primary#send(type="submit", value="Submit Form") 


  

  script(async='false', type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyADkOAOJTkULh2P8xWk-5bsDfACm8ov7N0&libraries=places')
  script.
    let placeSearch, autocomplete;
    const autocompleteInput = document.getElementById('autocomplete');

    let lat = '';
    let lng = '';
    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            (autocompleteInput),
            {types: ['geocode']}
        );   
        
        autocomplete.addListener('place_changed', () => {
            const url = autocomplete.getPlace().url;
              lat =  autocomplete.getPlace().geometry.location.lat();
              lng =  autocomplete.getPlace().geometry.location.lng() 
            document.getElementById("btnMap").href=url;
            document.getElementById("input6").value = lat +';'+ lng; 

        })

    }





