extends layout

block content
  h1= title
  p.index-title Pool Car #{title}

  //- form.date-input(action="/new" method="post")
  //-   input(type="text" name="task")
  //-   input(type="submit" value="add")

  .content
    .calendar-container
      .calendar
        .year-header
          span#prev.left-button  &#x2329; 
          span#label.year
          span#next.right-button  &#x232A; 
        table.months-table
          tbody
            tr.months-row
              td.month Jan
              td.month Feb
              td.month Mar
              td.month Apr
              td.month May
              td.month Jun
              td.month Jul
              td.month Aug
              td.month Sep
              td.month Oct
              td.month Nov
              td.month Dec
        table.days-table
          td.day Sun
          td.day Mon
          td.day Tue
          td.day Wed
          td.day Thu
          td.day Fri
          td.day Sat
        .frame
          table.dates-table
            tbody.tbody
        button#add-button.button Add Drive
    .events-container
    #dialog.dialog
      h2.dialog-header  Add New Drive 
      form#form.form
        .form-container(align='center')
          label#valueFromMyButton.form-label(for='name') Your Name
          input#name.input(type='text' maxlength='36')
          label#valueFromMyButton.form-label(for='count') Time Schedule
          input#count.input(type='number' min='0' max='1000000' maxlength='7')
          input#cancel-button.button(type='button' value='Cancel')
          input#ok-button.button(type='button' value='OK')




  
  #bookingFormLinkDiv
  
  form.carBookBtn(action="/bookingform", method="post")
    input#eventInfo(
      name="event"
      value=""
      type="hidden"
    )  
    input.book-button(
      type="submit"
      value="Book a car"
      class="btn btn-success"
    )


  //- Dialog Box
  script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
  //- script(src='app.js')
  script(src='/javascripts/Calendar.js')

    
