extends layout

block content
  p.index-title Pool Car #{title}

  .content
    .calendar-container
      .calendar
        .year-header
          span#prev.left-button  &#x2329; 
          span#label.year
          span#next.right-button  &#x232A; 
        table.months-table
          tbody
            tr.months-row
              td.month Jan
              td.month Feb
              td.month Mar
              td.month Apr
              td.month May
              td.month Jun
              td.month Jul
              td.month Aug
              td.month Sep
              td.month Oct
              td.month Nov
              td.month Dec
        table.days-table
          td.day Sun
          td.day Mon
          td.day Tue
          td.day Wed
          td.day Thu
          td.day Fri
          td.day Sat
        .frame
          table.dates-table
            tbody.tbody
        button#add-button.button Add Booking
    .events-container
    .booking-container
     .booking-card 
          
        
    #dialog.dialog
      h2.dialog-header  Add New Booking 
      form#form.form
        .form-container(align='center')
          label#valueFromMyButton.form-label(for='name') Your Name
          input#name.input(type='text' maxlength='36')
          label#valueFromMyButton.form-label(for='start_time') Start Time
          input#start_time.input(type='time' min='0' max='1000000' maxlength='7')
          label#valueFromMyButton.form-label(for='end_time') End Time
          input#end_time.input(type='time' min='0' max='1000000' maxlength='7')
          input#cancel-button.button(type='button' value='Cancel')
          input#ok-button.button(type='button' value='OK')


  
  #bookingFormLinkDiv
  
  form.carBookBtn(action="/bookingform", method="post")
    input#eventInfo(
      name="event"
      value=""
      type="hidden"
    )  



  script.
    const event_data=!{JSON.stringify(event_data)};
  script(src='/javascripts/Calendar.js')

    
