extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action="/new" method="post")
    input(type="text" name="task")
    input(type="submit" value="add")

  each item in tasks
    div
      form(action=`/isdone/${item.id}` method="post")
        input(
          type="submit" 
          value=`${item.task} ${item.isDone ?
             "Is done" : "Not done"}`
        )
      form(action=`/delete` method="post")
        input(
          value=item.id 
          type="hidden" 
          name="id"
        )
        input(
          type="submit"
          value="Delete"
        )
    a(href=`/edit/${item.id}`) Edit

    
