extends layout

block content

  
  .center
  each book in bookings 
    a.card(href='/checkinout/'+book.id)
      .card-body
        .user-card
          .level.center
             | #{book.name}
        .more-info
          h1 #{book.name}
          .coords
            span #{book.start_time}
            span #{book.end_time}
          .coords
            span 
            span #{book.destination}
          .stats
            div
              .title Start km
              .value #{book.start_km}
            div
              .title End km
              .value #{book.end_km}
      .general
        h1 #{book.date}
        p
          | The car is Booked by #{book.name} on #{book.date} from #{book.start_time} to #{book.end_time}
