extends layout

block content

    .flex-container
        .wrap
            h1 Filter Dropdown
            .filter-bar
                span.text Show
                    select.filter-bar__select#filter-select(onchange="myFunction()")
                        option(selected="true") All
                        each book in bookings
                            option #{book.name}
                    

  
    .center
    each book in bookingsmap 
        .card
            .card-body#card-body
                .user-card
                    .level#level
                        | #{book.name}
                    .stats
                        div
                            .title Start time
                            .value #{book.start_time}
                            .title End time
                            .value #{book.end_time}
                        .delete
                          form.update-input(action="/reservationlist/delete/" +book.id method="post")
                                input.btn_start(type="submit" value="delete")


                         
            a.general(href='/checkinout/'+book.id)
                h1 #{book.date}
                p
                    | The car is booked by #{book.name} on #{book.date} from #{book.start_time} to #{book.end_time} to  #{book.destination}
                .stats_x
                    div
                        .title_x Start km
                        br
                        .value_x #{book.start_km}
                    div
                        .title_x End km
                        br
                        .value_x #{book.end_km}


    //- script.
    //-     $(document).ready(function() {
    //-         var selectEl = $('.filter-bar__select');
    //-         selectEl.select2({
    //-             minimumResultsForSearch: Infinity
    //-         });
        });
    script(src='/javascripts/Filter.js')