extends layout

block content
  h1= title
  p Welcome to #{title}
  
  .center
  each book in bookings 
    .card.green
      .additional
        .user-card
          .level.center
             | #{book.name}
          .points.center
            | #{book.destinatio}
        .more-info
          h1 #{book.name}
          .coords
            span #{book.start_time}
            span #{book.end_time}
          .coords
            span Position/Role
            span City, Country
          .stats
            div
              .title Awards
              .value 2
            div
              .title Matches
              .value 27
            div
              .title Pals
              .value 123
            div
              .title Coffee
              .value.infinity &infin;
      .general
        h1 #{book.name}
        p
          | The car is Booked on #{book.date} from #{book.start_time} to #{book.end_time}
        span.more Mouse over the card for more info
